/* BASE HEADER DESIGN (DESKTOP) */

*{
    font-family: 'Courier New', Courier, monospace;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    background-color: white;
    box-shadow: 1px 1px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.LogoH {
    height: 50px;
    margin-left: 100px;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 20px; 
    margin-right: 50px;
}

.navlinksH{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    justify-self: center;
    transition: color 0.3s ease ;
    margin-right: 50px;
} 

.navlinksH:hover{
    color: black;
}

.navlinksH::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 1s ease;
    z-index: 1;
}   

.navlinksH:hover::after{
    width: 100%;
}

/* ALWAYS HIDE THE MENULIST ( DESKTOP ) */
.menu-toggle {
    display: none;
}

.menulist {
    display: none;
}

/* 320px VIEWPORT ( MOBILE ) */
@media (max-width: 420px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    .LogoH {
        margin-left: 0;
        margin-top: 10px;
    }

    /* SHOW MENU LIST */
    .menulist {
        display: block;
        font-size: 2em;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px; 
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    
    /* HIDE MENU WHEN WEBSITE IS LOADED ( MOBILE ONLY ) */
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    /* SHOW/HIDE MENU*/
    .menu-toggle:checked ~ .nav-menu {
        display: flex;
    }
    
    .navlinksH {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0; 
        border-bottom: 1px solid #ccc;
    }
}
