body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    overflow-x: hidden;
}

.container2{
    margin-top: 120px;
}

.prod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(233, 230, 230);
    font-size: 1.2rem;
    text-decoration: none;
    transition: 1s ease;
}

.prod:hover{
    background-color: rgb(0, 0, 0,0);
}

.category{
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
}

/* BACKGROUND IMAGE FOR THE PRODUCTS CATEGORY */
.allproducts{
    background-image: url(/unleashed/Images/COLLAGE\ ALL.png);
    background-size: cover;
} 

.tshirt{
    background-image: url(/unleashed/Images/COLLAGE\ SHIRTS.png);
    background-size: cover;
}

.headwear{
    background-image: url(/unleashed/Images/COLLAGE\ CAPS.png);
    background-size: cover;
}

.allproducts, .tshirt, .headwear{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
    color: white;
    border-radius: 40px;
    transition: transform 1s ease;
    transform: scale(1);
}

/* HOVER ANIMATION */
.allproducts:hover, .tshirt:hover, .headwear:hover{
    transform: scale(1.1);
}

@keyframes fade {
    0%{
        opacity: 0;
        scale: 0.7;
    }
    50%{
        opacity: 1;
        scale: 1;
    }
    80%{
        opacity: 0;
        scale: 0.5;
    }
}

.allproducts,.tshirt,.headwear{
    animation: fade linear;
    animation-timeline: view();
}


/* VIEWPORT FOR 320px ( MOBILE ) */
@media (max-width: 420px) {
    html {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .container2 {
        margin-top: 40px;
    }

    .category {
        gap: 20px;
        padding: 10px 0;
    }

    .prod {
        width: 100%;
        height: 90%;
        border-radius: 3px;
        background-color: rgb(0, 0, 0, 0);
    }

    .allproducts, .tshirt, .headwear {
        width: 280px;
        height: 150px;
        border-radius: 20px;
        animation: none; 
        opacity: 1;
        scale: 1;  
    }
    
    .allproducts:hover, .tshirt:hover, .headwear:hover {
        transform: none; 
    }
}
